<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About {{ name }}</title>
</head>
<body>
    <h1>About {{ name }}</h1>
    <p>
        Hello, i am {{ name }}, an rp'ier, developer. <br><br>
        I started making project since when i was 13, year 2017, you can guess my age :) <br>
        I like to study how the computer really works and how to communicate or teach them to do what i want,
        without this i don't know where im exactly standing right now, maybe im still doing all of my task manually. <br><br>
        Usually it takes more than 5 hours to complete just a single task for me, but with programming i can do my task less than minute. <br><br>
        If you are struggling with your task using computer, you can automate them by learning how to work with them. <br><br>

        {{ name }} - MIT Licence | Copyrighted 2022
    </p>
</body>
</html>