<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <div>Theres nothing in here, just making some weird algorithms :D</div><br>
    <div>You can try my project below here</div>
    <form action="{{ url_for('textnum_algorithm') }}" method="post">
        <textarea name="text" placeholder="enter the specific numbers to decode." rows="10" cols="40"></textarea>
        <input type="hidden" name="mode" value="decode">
        <input style="display:block" type="submit" value="Decode">
    </form>
</body>
</html>