<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}'s Home"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <div>You can try my algorithm below here</div>
    <form action="{{ url_for('textnum_algorithm') }}" method="post">
        <textarea name="text" placeholder="enter the specific numbers to decode." rows="10" cols="40"></textarea>
        <input type="hidden" name="mode" value="decode">
        <input style="display:block" type="submit" value="Decode">
    </form>

    <br>

    <div>No code? try this 384830148553437892585095700219687788840545765441</div>

    <br><br>

    <a href="{{ url_for('about') }}">About {{ name }}</a>
</body>
</html>